.neeto-editor-table {
  position: relative;
  width: fit-content;
  margin: 1rem 0 0;
  max-width: 100%;
  overflow-x: auto;

  table {

    th,
    td {
      p {
        margin: 0;
      }
    }

    .column-resize-handle {
      position: absolute;
      top: 0;
      bottom: 0px;
      inset-inline-end: -2px;
      width: 4px;
      background-color: var(--border);
    }

    .selectedCell:after {
      position: absolute;
      inset: 0;
      content: "";
      background: color-mix(in oklch, var(--primary) 10%, transparent);
    }
  }

  &__wrapper {
    display: flex;
    gap: 2px;
    max-width: 100%;
    overflow-x: auto;
  }

  &__add-row,
  &__add-column {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--border);
    border-radius: var(--ne-editor-radius-sm);
    transition: 0.15s ease-in-out;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: 0.15s ease-in-out;

    p {
      color: var(--muted-foreground) !important;
      font-size: 1rem !important;
      line-height: 16px !important;
      font-weight: 300 !important;
    }

    &:hover {
      background: var(--border);
    }
  }

  &:hover {

    .neeto-editor-table__add-row,
    .neeto-editor-table__add-column {
      visibility: visible;
      opacity: 1;
    }
  }

  &__add-row {
    margin-block: 2px;
    margin-inline: 0 20px;
    padding-block-end: 2px;
  }

  &__add-column {
    flex-direction: column;
    padding-inline: 4px;
  }

  &.neeto-editor-table--left table,
  .neeto-editor-content .table-responsive.neeto-editor-table--left table {

    th,
    td {
      text-align: start !important;
    }
  }

  &.neeto-editor-table--center table,
  .neeto-editor-content .table-responsive.neeto-editor-table--center table {

    th,
    td {
      text-align: center !important;
    }
  }

  &.neeto-editor-table--right table,
  .neeto-editor-content .table-responsive.neeto-editor-table--right table {

    th,
    td {
      text-align: end !important;
    }
  }
}

.ProseMirror.resize-cursor {
  cursor: col-resize;
}
