.neeto-editor-content ul[data-type="todoList"],
.ProseMirror ul[data-type="todoList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;

  li {
    align-items: flex-start;
    display: flex;
    position: relative;

    >label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
      pointer-events: none;
      z-index: 1;
    }

    >div {
      flex: 1 1 auto;
      min-height: 1.5rem;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    color: rgb(var(--neeto-ui-primary-500));
    border-color: rgb(var(--neeto-ui-gray-800));
    border-radius: 0;
    border-width: 1px;
    position: relative;
    top: -2px;
    pointer-events: auto;
    z-index: 2;

    &:checked {
      border-color: rgb(var(--neeto-ui-primary-500));
    }
  }

  ul[data-type="todoList"] {
    margin: 0;
  }

  // Completed tasks
  li[data-checked="true"]>div p {
    text-decoration: line-through;
    opacity: 0.65;
  }
}
