:root {
  --ne-editor-radius-sm: 0.375rem;
  --ne-editor-radius-md: 0.5rem;
  --ne-editor-radius-lg: 0.625rem;
  --ne-editor-radius-xl: 0.875rem;
}

@import "partials/animations";

@import "partials/commands";
@import "partials/editor";
@import "partials/editor-content";
@import "partials/menu";
@import "partials/media-uploader";
@import "partials/image-preview";
@import "partials/image-skeleton";
@import "partials/emoji";
@import "partials/table";
@import "partials/link-popover";
@import "partials/collaboration-cursor";
@import "partials/codeblock";
@import "partials/highlight";
@import "partials/attachments";

@import "codeblock-theme-adapter";

@import "v2-toolbar";


.ProseMirror {
  overflow-y: auto;
  height: 100%;
  white-space: break-spaces;

  a {
    text-decoration: underline;
    color: var(--info-solid);
  }

  a[data-neeto-kb-article="true"][data-article-deleted="true"] {
    color: var(--error-foreground) !important;
    cursor: not-allowed;

    &:hover {
      opacity: 0.7;
    }
  }

  &:focus {
    outline: none;
  }
}
